<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Patient ID</span>
  </div>
  <input type="text" class="form-control" placeholder="Patient ID" aria-label="Patient ID" [(ngModel)]="id">
  <button mat-raised-button color="primary" (click)="getTests()">Search</button>
</div>
<table mat-table [dataSource]="tests$" class="mat-elevation-z8 w-100">
  <ng-container matColumnDef="First Name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.First}} </td>
  </ng-container>

  <ng-container matColumnDef="Last Name">
    <th mat-header-cell *matHeaderCellDef> Patient ID </th>
    <td mat-cell *matCellDef="let element"> {{element.Last}} </td>
  </ng-container>

  <ng-container matColumnDef="Results">
    <th mat-header-cell *matHeaderCellDef> Results </th>
    <td mat-cell *matCellDef="let element"> {{element.Results}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No matching data.</td>
  </tr>
</table>

